
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,500;8..144,600&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url("https://img.freepik.com/free-vector/blue-curve-background_53876-113112.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto";
    height: 100vh;
}

#hum{
    display: none;
}

nav a{
    text-decoration: none;
    color: black;

}
.vocab img{
    width: 100%;
}

.word{
    color: black;
}
.phonetic{
    color:red;
}
.explain{
    margin-bottom: 0px;
}
.collapsible{
    background-color: #abdef7;
    cursor: pointer;
}

.show-hide{
    padding: 0px 16px !important;
    max-height: 0;
    overflow: hidden;
    border-top:1px solid gainsboro ;
    transition: max-height 0.25s ease-out;
}
.content{
    height: 100%;
    border: 1px solid gainsboro ;
    box-shadow: 1px 1px 1px rgba(0,0,0,.25);
    border-radius: 4px;
    padding: 0px;

}
.collapsible{
    /* border-top-left-radius: inherit;
    border-top-right-radius: inherit; */
    border-radius: inherit !important;
    padding: 0px;
}

